@import url("https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.min.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/inter@5.0.12/latin.css");

#app {
	display: flex;
	flex-direction: column;
	margin: 40px;
}

@keyframes fade {
	0% {
		/* transform: translateY(100%); */
		opacity: 1;
	}
	100% {
		/* transform: translateY(0%); */
		opacity: 0.2;
	}
}

.complaint {
	animation: 5s fade forwards;
	color: blue;
}
