@import url("https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.min.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/inter@5.0.12/latin.css");

#app {
	display: flex;
	flex-direction: column;
	margin: 0px;
}

@keyframes fade {
	0% {
		/* transform: translateY(100%); */
		opacity: 1;
	}
	100% {
		/* transform: translateY(0%); */
		opacity: 0.1;
	}
}
.bubble {
	animation: 15s fade forwards;
}

.complaint {
	/* width: 400px; */
	/* height: 200px; */
	animation: 15s fade forwards;
	color: black;
	background-color: white;
	outline: 1px solid black;
	padding: 10px;
	text-align: center;
	/* font-size: 14pt; */

	display: flex;
	justify-content: center; /* Center vertically */
	align-items: center; /* Center horizontally */
	flex-direction: column; /* Stack lines vertically */
	box-sizing: border-box;
}

.majorityComplaint {
	color: blue;
}

#toggleInfo {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #ddd;
	color: #333;
	font-size: 20px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 20px;
	right: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: background 0.3s ease, transform 0.2s ease;
}

#toggleInfo:hover {
	transform: scale(1.1);
}

/* Style when info is shown */
#toggleInfo.active {
	background-color: #00aaff;
	color: #fff;
}

#info {
	width: 100%;
	height: 100%;
	margin: 0px 40px 0px 40px;
}

#live-info {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 1200px;
}

#info h1 {
	font-family: "Voltaire", sans-serif;
	font-size: 40pt;
}

#info p,
#live-info p {
	font-family: "Cormorant Garamond", serif;
	font-size: 16pt;
}

#infoHighlight {
	font-family: "Voltaire", sans-serif;
	font-size: 40pt;
}

#footer {
	position: fixed;
	bottom: 30px;
}

#footer p {
	font-family: "Voltaire", sans-serif;
	font-size: 10pt;
}

#clock {
	position: absolute;
	top: 10px;
	right: 10px;
	font-family: monospace;
	font-size: 2rem;
}
